* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Esse estilo seria para criar um tamanho fixo para o conteúdo principa, aplicando ele o footer já fica setado no final da página */
.main-container {
  min-height: 70vh;
}