.title_home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.title { 
  color: #E33D33;
  text-align: center;
  font-size: 3em;
  margin-right: .4em;
}

.title span {
  color: rgb(6, 8, 9);
} 
/* Essa estilo cria define os elementos um do lado do outro, com Wrap quanto o conteúdo ultrapassar a largura ele quebra a linha
define um espaçamento entre cada elemento e centraliza na vertical todo o conteúdo
*/
.poke_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .poke_container {
    justify-content: space-evenly;
    margin: 10px;
  }
}